
html {
    background-color: #001935;
}

.homepage {
    background: image-url("marc-kleen-8hU6vtwY8l8-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-color: #001935;
    width: 100%;
    height: 100%;
}

.dashboard-nav {
    background-color: #001935;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}

.title {
    position: relative;
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    left: 2%;
    color: white;
}

.homepage-title {
    position: fixed;
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    top: 25%;
    left: 41%;
    color: white;
}

.homepage-description {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    top: 33%;
    left: 42.5%;
    width: 250px;
    text-align: center;
}

.homepage-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 39%;
    left: 40%;
    width: 300px;
    height: 100px;
}

.transparent-header {
    // border: 1px solid black;
    // background: rgba(75, 74, 74, 0.5);
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.errors {
    position: fixed;
    color: white;
    background: rgba(75, 74, 74, 0.2);
    padding: 5px;
    width: 307px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    top: 54%;
    left: 40.5%;
}

button, .session-submit {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    // border: 1px solid black;
    margin: 5px 1px 2px 1px;
    border-radius: 2px;
}

.session-submit {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    background-color: #00B8FF;
    color: white;
    font-weight: bold;
}

.session-submit:first-child {
    margin-top: 5px;
}

.login-input {
    // border: 1px solid black;
    font-family: 'Roboto', sans-serif;
    border-radius: 1px;
    padding: 5px;
    margin: 0 1px 0 1px;
    width: 100%;
    height: 35px;
}

.login-form-box {
    display: block;
    width: 300px;
    // position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2.5%, 65%);
}

.login-signup {
    float: right;
    padding: 5px;
    margin: 10px;
}

.login-link {
    // color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 10px 5px;
    // background: rgba(75, 74, 74, 0.2);
    background-color: white;
    border-radius: 2px;
    width: 100%;
    text-align: center;
}

.signup-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 5px 5px;
    background-color: #00B8FF;
    border-radius: 2px;
    color: white;
    width: 100%;
    text-align: center;
}

.login-button {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    color: white;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background: rgba(75, 74, 74, 0.2);
    border-radius: 2px;
    top: 0%;
    right: 0%;
}

.login-button:hover {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.signup-button {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: white;
    border-radius: 2px;
    top: 0%;
    right: 0%;
}

.login-form-container {
    // position: relative;
    display: flex;
    align-items: center;
    // align-content: center;
    justify-content: center;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-logo {
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    color: white;
    padding: 0 5px 0 5px;
    margin: 5px 5px 0 5px;
    margin-top: 0;
    left: 0;
    top: 0;
}

.logout-button {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 5px;
    background-color: white;
    border-radius: 2px;
}

.main-section {
    width: 50%;
    transform: translate(20%, 9%); // this needs to be fixed
}

.blog-block, .form-block {
    display: flex;
    margin: 100px 0 0 0;
    padding: 30px 0 0 0;
    // height: 100%;
}

.avatar {
    display: flex;
    position: sticky;
    min-width: 100px;
    height: 100px;
    background-color: yellow;
    // margin: 0 10px 0 10px;
    border-radius: 5px;
    top: 0;
}

.avatar-form {
    width: 85px;
    height: 85px;
    border-radius: 5px;
    background-color: rgb(158, 6, 6);
}

.blog-section {
    width: 124.5%;
}

.blog-info {
    margin: 0 0 50px 20px;
    width: 65%;
}

.blog-title {
    background-color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    // font-weight: bold;
    font-size: 20px;
    // width: 675px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
}

.blog-body {
    background-color: rgb(206, 133, 133);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 645px;
    width: 100%;
    height: 100%;
}

.blog-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 106%;
    border-radius: 0 0 5px 5px;
}

.blog-notes {
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px 20px 20px 30px;
}

.blog-like {
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px 30px 20px 20px;
}

.media-block {
    display: flex;
}

.media-links {
    display: inline-block;
    background-color: white;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    width: 90%;
    min-height: 100px;
    border-radius: 5px;
    margin: 0 0 0 20px;
}

.media-text {
    font-size: 20px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 25, 53, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-form-container {
    background-color: white;
    min-width: 550px;
    min-height: 300px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
}

#text-form-user {
    padding: 0 0 0 20px;
    font-family: 'Roboto', sans-serif;
    // font-weight: bold;
    font-size: 16px;
}

.text-form-title {
    padding: 0 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.text-form-body {
    padding: 10px 0 0 20px;
    font-family: 'Roboto', sans-serif;
}

.text-form-footer {
    display: flex;
    justify-content: space-between;
}

.close-button {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.form-submit {
    font-family: 'Roboto', sans-serif;
    background-color: #00B8FF;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.edit-link {
    color: black;
}

.edit-form-block {
    display: flex;
    margin: 100px 0 0 0;
    padding: 30px 0 0 0;
    // transform: translate(-2.5%, 65%);
    transform: translate(30%, 30%);
}