
html {
    background-color: #001935;
}

.homepage {
    background: image-url("marc-kleen-8hU6vtwY8l8-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-color: #001935;
    width: 100%;
    height: 100%;
}

.dashboard-nav {
    background-color: #001935;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}

.title {
    position: relative;
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    color: white;
    left: 2%;
}

.homepage-title {
    position: fixed;
    font-family: 'Secular One', sans-serif;
    font-size: 70px;
    color: white;
    top: 24%;
    left: 41%;
}

.homepage-description {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    top: 33%;
    left: 42.5%;
    width: 250px;
}

.homepage-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 39%;
    left: 40%;
    width: 300px;
    height: 100px;
}

.errors {
    position: fixed;
    background: rgba(75, 74, 74, 0.2);
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: white;
    top: 52%;
    left: 40%;
    padding: 5px;
    width: 307px;
}

button, .session-submit {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    margin: 5px 1px 2px 1px;
    border-radius: 2px;
}

.session-submit {
    background-color: #00B8FF;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: white;
    width: 100%;
}

.session-submit:first-child {
    margin-top: 5px;
}

.login-input {
    font-family: 'Roboto', sans-serif;
    border-radius: 1px;
    padding: 5px;
    margin: 0 1px 0 1px;
    width: 100%;
    height: 35px;
}

.login-form-box {
    position: absolute;
    display: block;
    width: 300px;
    top: 20%;
    left: 40%;
}

.login-signup {
    float: right;
    padding: 5px;
    margin: 10px;
}

.login-link {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 10px 5px;
    width: 100%;
}

.signup-link {
    background-color: #00B8FF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    margin: 10px 5px 5px 5px;
    width: 100%;
}

.login-button {
    position: fixed;
    background: rgba(75, 74, 74, 0.2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    top: 0%;
    right: 0%;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 2px;
}

.login-button:hover {
    background: rgba(255, 255, 255, 0.2);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 2px;
}

.signup-button {
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    top: 0%;
    right: 0%;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    background-color: white;
    border-radius: 2px;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-logo {
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
    color: white;
    left: 0;
    top: 0;
    padding: 0 5px 0 5px;
    margin: 5px 5px 0 5px;
    margin-top: 0;
}

.logout-button {
    float: right;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-right: 10px;
}

.main-section {
    width: 50%;
    position: relative;
    transform: translate(20%, 100px);
}

.blog-block{
    display: flex;
    padding: 30px 0 0 0;
}

.form-block,
.form-photo-block,
.form-quote-block,
.form-url-block {
    display: flex;
}

.avatar-default,
.avatar-fixed-default,
.avatar-form-default {
    background: image-url("tumblr_default_avatar.png");
}

.avatar, .avatar-default {
    display: flex;
    position: sticky;
    background-size: cover;
    border-radius: 5px;
    top: 0;
    max-width: 100px;
    height: 100px;
}

.avatar-fixed, .avatar-fixed-default {
    display: flex;
    position: relative;
    background-size: cover;
    border-radius: 5px;
    top: 0;
    width: 100px;
    height: 100px;
}

.avatar-form, .avatar-form-default {
    background-size: cover;
    width: 85px;
    height: 85px;
    border-radius: 5px;
}

.blog-section {
    width: 124.5%;
}

.blog-section > :first-child {
    margin-top: 15px;
}

.blog-section > :last-child {
    padding-bottom: 40px;
}

.blog-info {
    margin: 0 0 0 20px;
    width: 65%;
}

.blog-title {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

.blog-body {
    background-color: rgb(206, 133, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 20px;
    height: 100%;
}

.blog-description {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px 20px 10px 20px;
    height: 20%;
}

.quote-description {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px 20px 20px;
}

.blog-source,
.quote-source,
.url-source {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 10px 0 10px 0;
    color: gray;
}

.quote-source {
    padding-bottom: 0;
}

.url-source {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-bottom: 15px;
}

.blog-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
}

.blog-notes {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: gray;
    padding: 0 20px 20px 30px;
}

.blog-like, .blog-dislike {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: gray;
    background-color: transparent;
    padding: 0 30px 15px 20px;
}

.blog-dislike {
    color: red;
}

.media-block {
    display: flex;
}

.media-links {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 81%;
    min-height: 100px;
    border-radius: 5px;
    margin: 0 0 0 20px;
}

.media-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.media-text,
.media-photo,
.media-quote,
.media-url {
    font-size: 20px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

.media-icon,
.media-icon-photo, 
.media-icon-quote,
.media-icon-url {
    font-size: 40px;
    background-color: transparent;
}

.media-icon-photo {
    color: rgb(236, 83, 83);
}

.media-icon-quote {
    color: orange;
}

.media-icon-url {
    color: green;
}

.modal-background {
    background: rgba(0, 25, 53, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-form-container,
.photo-form-container,
.quote-form-container {
    background-color: white;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    min-width: 550px;
    min-height: 300px;
}

.url-form-container {
    background-color: white;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
    min-width: 550px;
    min-height: 310px;
}

#text-form-user {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0 0 0 20px;
}

.text-form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding: 0 0 0 20px;
}

.quote-form-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    width: 93%;
    padding: 0 0 0 20px;
}

.quote-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 10px;
}

.quote-body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(173, 173, 173);
}

.photo-title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.photo-form-title {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding-left: 15px;
}

.url-form-title {
    background-color: rgb(197, 197, 197);
    font-family: 'Roboto', sans-serif;
    border: 2px solid gray;
    border-style: dashed none dashed none;
    width: 95%;
    height: 20%;
    padding: 0 7px 0 20px;
}

.url-form-title::placeholder {
    color: gray;
    opacity: 1;
}

.url-description {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.url-title-link {
    font-size: 20px;
    color: rgb(66, 66, 255);
    padding: 10px 0 5px 20px;
}

.url-body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 0 5px 20px;
}

.text-form-body {
    padding: 10px 0 0 20px;
    font-family: 'Roboto', sans-serif;
}

.quote-form-body {
    padding: 10px 0 10px 20px;
    font-family: 'Roboto', sans-serif;
}

.text-form-footer,
.photo-form-footer,
.quote-form-footer,
.url-form-footer {
    display: flex;
    justify-content: space-between;
}

.close-button {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.form-submit {
    font-family: 'Roboto', sans-serif;
    background-color: #00B8FF;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.edit-link {
    color: #001935;
    font-size: 25px;
    margin-right: 5px;
}

.delete-button {
    color: red;
    background-color: transparent;
    font-size: 25px;
    margin-left: 5px;
}

.edit-form-block,
.edit-photo-block,
.edit-quote-block,
.edit-url-block {
    display: flex;
    margin: 100px 0 0 0;
    padding: 30px 0 0 0;
    transform: translate(30%, 30%);
}

.edit-photo-block {
    transform: translate(30%, 0%);
}

.upload-photo {
    padding: 5px 10px 5px 10px;
}

.upload-photo:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.dropdown-button {
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    min-width: 250px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-header {
    background-color: #c5c5c5;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.dropdown-number {
    font-size: 0.95rem;
}

.dropdown-number:hover {
    cursor: pointer;
}

.show {
    display: block;
}

.account-label {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 5px;
}

.dropdown-like,
.dropdown-follow,
.dropdown-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(88, 88, 88);
    padding: 10px;
}

.dropdown-like:hover,
.dropdown-follow:hover,
.dropdown-settings:hover {
    background-color: rgb(235, 235, 235);
}

.dropdown-settings:hover {
    border-radius: 0 0 5px 5px;
}

.fa-gear {
    height: 25px;
}

.file-preview {
    margin: 10px 0 10px 0;
}

.file-preview > img {
    display: block;
    max-height: 300px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.personal-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    position: fixed;
    bottom: 5px;
    right: 15px;
}

.github-link,
.linkedin-link,
.angellist-link {
    padding: 5px;
}

.github-link:hover,
.linkedin-link:hover,
.angellist-link:hover {
    color: rgb(34, 106, 200);
}

.sidebar-container {
    position: absolute;
    top: 100px;
    left: 63%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.sidebar-container > label {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid gray;
}

.sidebar-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
}

.sidebar-item:hover {
    background-color: #00244e;
}

.sidebar-item:first-child {
    margin-top: 20px;
}

.sidebar-item h1,
.follow-item h1 {
    min-width: 50px !important;
    max-width: 50px !important; 
    max-height: 50px;
    background-size: cover;
}

.profile {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.profile > img {
    background-size: cover;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.profile > label {
    padding-left: 10px;
    padding-top: 15px;
}

.follow-btn {
    color: #00B8FF;
    background: none;
}

.following-section {
    position: absolute;
    top: 100px;
    left: 30%;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    font-family: 'Roboto', sans-serif;
}

.following-section > div {
    font-size: 20px;
    color: rgb(87, 87, 87);
    font-weight: 700;
    text-align: center;
    padding: 10px 0 10px 0;
}

.follow-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
}

.follow-item:hover {
    background-color: rgb(236, 236, 236);
}

.unfollow-btn {
    background: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.unfollow-btn:hover {
    background-color: #00B8FF;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.good-check {
    color: green;
    font-size: 20px;
}

.incomplete-check {
    color: red;
    font-size: 20px;
}

@media screen and (max-height: 780px) {
    .homepage-description {
        top: 35%;
    }

    .homepage-links {
        top: 41%;
    }
}