
html {
    background: image-url("marc-kleen-8hU6vtwY8l8-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.dashboard-nav {
    background-color: #001935;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
}

.title {
    position: relative;
    font-size: 70px;
    left: 40px;
    color: white;
}

.transparent-header {
    // border: 1px solid black;
    // background: rgba(75, 74, 74, 0.5);
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.errors {
    font-size: 19px;
    text-align: center;
    padding: 5px;
    background: rgba(75, 74, 74, 0.2);
    color: white;
    font-weight: 700;
    width: 303px;
    // opacity: 0.3;
}

button, .session-submit {
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    // border: 1px solid black;
    margin: 5px 1px 2px 1px;
    border-radius: 2px;
}

.session-submit {
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    background-color: #00B8FF;
    color: white;
    font-weight: bold;
}

.session-submit:first-child {
    margin-top: 5px;
}

.login-input {
    // border: 1px solid black;
    border-radius: 1px;
    padding: 5px;
    margin: 0 1px 0 1px;
    width: 100%;
    height: 35px;
}

.login-form-box {
    display: block;
    width: 300px;
    // position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2%, 85%);
}

.login-signup {
    float: right;
    padding: 5px;
    margin: 10px;
}

.login-link {
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 10px 5px;
    background: rgba(75, 74, 74, 0.2);
    border-radius: 2px;
}

.login-link:hover {
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 10px 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

.signup-link {
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 5px 10px 5px;
    background-color: white;
    border-radius: 2px;
}

.login-form-container {
    // position: relative;
    display: flex;
    align-items: center;
    // align-content: center;
    justify-content: center;
}

.header-nav, .dashboard-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.header-logo {
    font-size: 35px;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    left: 0;
    top: 0;
}

.header-pane {
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
}

.logout-button {
    float: right;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 5px;
    background-color: white;
    border-radius: 2px;
}

.feed-section {
    width: 50%;
    transform: translate(20%, 10%);
}

.blog-block {
    display: flex;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
}

.avatar {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 0 10px 0 10px;
    border-radius: 5px;
}

.blog-info {
    margin: 0 0 50px 20px;
    width: 80%;
}

.blog-title {
    background-color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
    width: 675px;
    border-radius: 5px 5px 0 0;
}

.blog-body {
    background-color: rgb(206, 133, 133);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 645px;
    height: 100%;
    border-radius: 0 0 5px 5px;
}